{{#if error}}
    <div class="alert alert-danger">
        {{error}}
    </div>
{{/if}}

{{#if success_message}}
    <div class="alert alert-success">
        {{success_message}}
    </div>
{{/if}}
{{#if edit_success}}
    <div class="alert alert-success">
        {{edit_success}}
    </div>
{{/if}}
{{#if delete_success}}
    <div class="alert alert-danger">
        {{delete_success}}
    </div>
{{/if}}