<h1>Edit Category</h1>

<div class="row">
    <div class="col-sm-4">
        <form
            action="/admin/category/edit/{{category.id}}?_method=PUT"
            method="post"
        >
            <div class="form-group">
                <label for="name">Name</label>
                <input
                    type="text"
                    value="{{category.name}}"
                    name="name"
                    class="form-control"
                    placeholder="Enter title"
                />
            </div>
            <button class="btn btn-primary">Update Category</button>
        </form>
    </div>

</div>